<?xml version="1.0"?>
<launch>

  <node name="joint_vel_acc_estimator" pkg="joint_state_estimator" type="joint_state_estimator_node" cwd="node" respawn="false" output="screen" >
    <rosparam command="load" file="$(find joint_state_estimator)/config/dumbo_left_arm_joint_state_estimator_config.yaml" />
    <remap from="/joint_vel_acc_estimator/state" to="/test_jointvelacc_filter/true_state"/>
  </node>

  <node name="test_jointvelacc_filter" pkg="joint_state_estimator" type="test_joint_state_estimator" cwd="node" respawn="false" output="screen" />

</launch>